@media(min-width:1600px){
	.right_caption{
		    height: 88vh;
	}
}
@media(max-width:1365px) and (min-width:1025px) {
	#transition-timer-carousel .carousel-inner {
		width: 100%;
		min-height: 354px;
		overflow: hidden;
		float: left;
		background-size: 100% 100%!important;
	}
	#transition-timer-carousel .carousel-item {
		width: 86%;
		position: absolute;
		left: 7%;
		padding: 0px;
		top: 8%;
		height: 300px;
		overflow: hidden;
	}
}

@media(max-width:1024px) and (min-width:980px) {
	h2 {
		font-size: 24px
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 18px;
	}
	h5 {
		font-size: 16px;
	}
	p {
		font-size: 14px
	}
	.beleving_strip h5:before {
		left: 20%
	}
	.beleving_strip h5:after {
		right: 20%
	}
	.about_txt {
		height: 443px;
		padding-top:
	}
	.main-nav li {
		margin-left: 17px
	}
	.main-nav li.active a::before {
		bottom: -24px
	}
	.main-nav li a:hover::before,
	.main-nav li a:focus::before,
	.main-nav li a:active::before {
		bottom: -24px
	}
	.top_header .carousel-caption {
		top: 32%
	}
	.top_header .carousel-caption img {
		width: 150px
	}
	#transition-timer-carousel .carousel-inner {
		width: 100%;
		min-height: 354px;
		overflow: hidden;
		float: left;
		background-size: 100% 100%!important;
	}
	#transition-timer-carousel .carousel-item {
		width: 90%;
		position: absolute;
		left: 16px;
		padding: 10px;
		top: 22px;
		height: 300px;
		overflow: hidden;
	}
	.gallry_img li .img_des {
		height: 70%
	}
	.gallry_img li .img_des h4 {
		font-size: 15px
	}
	.call_consult form {
		margin-top: 20px;
	}
	#transition-timer-carousel .carousel-inner {
		width: 100%;
		min-height: 314px;
		overflow: hidden;
		float: left;
		background-size: 100% 100%!important;
	}
	#transition-timer-carousel .carousel-item {
		width: 387px;
		position: absolute;
		left: 16px;
		padding: 10px;
		top: 13px;
		height: 300px;
		overflow: hidden;
	}
		.hidden-xs{
		display:block;
	}
	.form-inline.hidden-xs{
		display:flex;
	}
	footer{
		height:310px;
	}
	
}

@media(min-width:768px) and (max-width:979px) {
	.call_consult form {
		margin-top: 20px;
	}
	h2 {
		font-size: 24px
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 18px;
	}
	h5 {
		font-size: 16px;
	}
	p {
		font-size: 14px
	}
	.beleving_strip h5:before {
		left: 16%;
		width: 110px
	}
	.beleving_strip h5:after {
		right: 16%;
		width: 110px
	}
	.about_txt {
		height: 346px;
		padding-top: 50px
	}
	.beleving_strip:after {
		left: 50.7%
	}
	footer {
		height: 385px
	}
	#transition-timer-carousel .carousel-inner {
		width: 100%;
		min-height: 254px;
		overflow: hidden;
		float: left;
		background-size: 100% 100%!important;
	}
	#transition-timer-carousel .carousel-item {
		width: 297px;
		position: absolute;
		left: 16px;
		padding: 10px;
		top: 13px;
		height: 300px;
		overflow: hidden;
	}
	.top_fix {
		position: static !important
	}
	.navbar-dark .navbar-toggler {
		background: #1976d2;
		cursor: pointer;
	}
	.navbar-nav.mr-auto {
		margin-top: 0
	}
	.cstm-nav .navbar-collapse {
		position: absolute;
		z-index: 9999;
		background: #1976d2;
		top: 43px;
		width: 100%;
		left: 0
	}
	.gallry_img li .img_des {
		height: 70%
	}
	.gallry_img li .img_des img {
		width: 40px
	}
	.gallry_img li .img_des h4 {
		font-size: 14.5px
	}
		.hidden-xs{
		display:block;
	}
	.form-inline.hidden-xs{
		display:flex;
	}
	
}

@media(min-width:768px) and (max-width:991px) {
	.gallry_img li .img_des{padding-top:70px;}
	.top_fix {
		position: static !important
	}
	.navbar-dark .navbar-toggler {
		background: #1976d2;
		cursor: pointer;
	}
	.navbar-nav.mr-auto {
		margin-top: 0
	}
	.navbar-nav.mr-auto .navbar-collapse {
		position: absolute;
		z-index: 9999;
		background: #1976d2;
		top: 43px;
		width: 100%;
		left: 0
	}
	.top_header .carousel-item img.sld_img{
		height:auto;
	}
	.hidden-xs{
		display:block;
	}
	.form-inline.hidden-xs{
		display:flex;
	}
}

@media (max-width: 767px) {
	.static .hidden-xs{display:none;}
	.tgl{display:inline-block;}
	.right_rh{display:none;}
	.left_rh{display:none;}
	
	.right_caption{
		display:none;}
	.grl {
		display:none;
	}
	.captn{
		padding-top: 0px
		
	}
	.hidden-xs{
		display: none
	}
	.visible-xs{
		display: block
	}
	.mail li.login a i{
		font-size: 15px;
	}
	.mail li i{font-size: 15px}
	h2 {
		font-size: 20px
	}
	h3 {
		font-size: 18px;
	}
	h4 {
		font-size: 16px;
	}
	h5 {
		font-size: 14px;
	}
	p,
	a {
		font-size: 12px
	}
	
	.mail li {
		margin: 0 3px
	}
	#custom-search-form {
		display: block;
		text-align: center;
		margin: 6px 0
	}
	.main-nav li {
		margin-left: 0
	}
	#custom-search-form .search-query {
		width: 70%
	}
	.main-nav .navbar-collapse {
		background: #1976d2;
		position: absolute;
		left: 0;
		width: 100%;
		z-index: 99;
		top: 50px;
		text-align: center
	}
	.mail li {
		font-size: 12px;
		padding: 0 2px
	}
	.mail li.login {
		margin-right: 3px;
	}
	.gallry_img li .img_des {
		height: 60%
	}
	.gallry_img li .img_des h4 {
		font-size: 15px
	}
	.about_txt {
		padding-top: 30px;
		height: auto;
		  width: 93%;
	}
	.container {
		padding: 0 15px;
	}
	.mail>li>a>i {
		height: 24px;
		width: 24px;
		line-height: 24px
	}
	.contact_top {
		font-size: 12px;
		text-align: center;
		display: none
	}
	.beleving_strip h5:after {
		display: none
	}
	.beleving_strip:before {
		display: none
	}
	.beleving_strip:after {
		display: none
	}
	.beleving_strip h5:before {
		display: none
	}
	.top_header .carousel-indicators {
		bottom: 20px;
	}
	.form-search.form-horizontal.pull-right {
		float: left !important
	}
	.navbar-brand>img {
		display: block;
		width: 80px;
	}
	.main-nav li.active a:before {
		display: none
	}
	.main-nav li.active a:after {
		display: none
	}
	.main-nav li {
		margin-top: 5px;
	}
	.top_header .carousel-caption {
		top:19%;
	}
	.left_caption{
		width:100%;
	}
	.top_header .carousel-caption h3 {
    margin: 5px 0;
    font-size: 17px;
    
}
.top_header .carousel-caption p{font-size:11px;
	margin:3px 0;
}
	.top_header .carousel-caption img {
		width: 90px
	}
	.beleving_strip {
		padding: 5px 0 20px;
	}
	.top_fix {
		position: static !important
	}
	.navbar-dark .navbar-toggler {
		background: #1976d2;
		cursor: pointer;
	}
	.navbar-nav.mr-auto {
		margin-top: 0
	}
	.cstm-nav .navbar-collapse {
		position: absolute;
		z-index: 9999;
		background: #1976d2;
		top: 43px;
		width: 100%;
		left: 0
	}
	.main-nav li a:hover::before,
	.main-nav li a:focus::before,
	.main-nav li a:active::before {
		display: none
	}
	.main-nav li a:hover::after,
	.main-nav li a:focus::after,
	.main-nav li a:active::after {
		display: none
	}
	#custom-search-form button {
		margin-top: 0
	}
	.gallry_img li {
		width: 100%;
		margin: 10px 0
	}
	.btm_footer {
		padding: 8px 0
	}
	.about {
		z-index: -1
	}
	.main-nav {
		margin-top: 0px;
		padding: 0 10px
	}
	.top_header .item img {
		min-height: 300px
	}
	footer {
		height: auto
	}
	.in-footer {
		position: static
	}
	.consltion h2 {
		font-size: 20px
	}
	.call_consult form .form-control {
		min-height: 34px;
		font-size: 13px
	}
	#transition-timer-carousel .carousel-inner {
		min-height: 320px;
		height: 320px
	}
	#transition-timer-carousel .carousel-item {
		width: 88%;
		position: absolute;
		left: 5%;
		padding: 10px;
		top: 0%;
		height: 300px;
		overflow: hidden;
	}
	.straights_list li {
		margin: 6px 0;
		 float: left;
        width: 33.3%;
        text-align:center;
	}
	.straights_list li .img_class {
		width: 100%
	}
		.straights_list li .img_class img{
		width: 30px;height:30px;display:block;margin:4px auto;
	}
	.wht {
		font-size: 12px;
	}
	.blk {
		font-size: 12px;
	}

	.about_txt p {
		font-size: 14px;
		line-height: 19px;
	}
	footer p{font-size: 12px}
	.top_header .carousel-item img.sld_img{
		height: auto
	}
	.galry{margin-top:0;}
}
@media (min-width: 540px) and (max-width:767px){
	.gallry_img li {
		width: 50%;
		margin: 10px 0
	}
	#transition-timer-carousel .carousel-inner {
    min-height: 170px;
    height: 170px;
}
a.tgl{
	right:160px;
}
}
@media (max-width: 414px) {
	#transition-timer-carousel .carousel-item {
		top: 5%;
		height: auto
	}
		.right_caption{
		display:none;}
		#transition-timer-carousel .carousel-inner {
    min-height: 249px;
    height: 246px;
}
}

@media (max-width: 359px) {
		.right_caption{
		display:none;}
	.straights_list li .img_class {
		width: 100%
	}
	.straights_list li .img_class img{width:36px;}
	.wht {
		font-size: 14px;
	}
	.blk {
		font-size: 14px;
	}
	.mail li {
		font-size: 11px;
		padding: 0 1px;
		margin: 0
	}
	.mail li.login {
		margin-right: 1px;
	}
	.gallry_img li .img_des h4 {
		font-size: 13px
	}
	#transition-timer-carousel .carousel-inner {
		min-height: 207px;height: 207px;top:2%;
	}
	#transition-timer-carousel .carousel-item {
		width: 88%
	}
	.wht{margin-top: 0}
	.navbar-nav.ml-auto {
    margin-top: -4px;
}
.main-nav .navbar-collapse{top:46px;}
}