/*Global Styles*/


/* ========================================
	=====THEME-CREATED-BY-Lucky===
======================================= */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body {
	font-family: 'Roboto', sans-serif !important;
	max-height: 100%;
	font-size: 14px;
	color: #212121;
	padding-top: 0;
}

a:link,
a:link,
a:focus,
button:focus {
	outline: none;
	text-decoration: none;
}

h1 {
	margin: 0;
	padding: 0
}

ol,
ul {
	padding: 0;
	/*list-style-type: none;*/
	margin: 0;
}

.btn {
	opacity: 0.9;
	transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
	-webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
	-moz-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.btn:hover {
	opacity: 1;
}

:focus {
	outline: -webkit-focus-ring-color auto 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
	outline: 0 auto -webkit-focus-ring-color;
	outline-offset: 0;
}


/* ========================================
	=====Header===
======================================= */

.navbar-brand>img {
	display: block;
	width: 120px;
}

.captn {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 20px 0 0px;
	background: rgba(140, 140, 140, .4);
}

#custom-search-form {

	margin-top: 0px;
	margin-bottom: 3px;
	padding: 0;
	margin-top: 44px;
	 margin-left: 30px;
}

#custom-search-form .search-query {
	padding-right: 3px;
	padding-right: 4px \9;
	padding-left: 13px;
	padding-left: 14px \9;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */
	margin-bottom: 0;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: none;
	border: 2px solid #acb3bb;
	color: #acb3bb;
	max-width: 150px;
}

#custom-search-form .search-query::placeholder {
	color: #acb3bb;
}

#custom-search-form .search-query::-moz-placeholder {
	color: #acb3bb;
}
.tgl{display:none;}
.hidden-xs{
		display: flex;
	}
	.visible-xs{
		display: none
	}
	.bootsnipp-search{
		display:none;position:absolute;top:60px;width:100%;left:0;
	
	}
	a.tgl {
    position: absolute;
    right: 70px;color:#fff !important;
}
#custom-search-form button {
	border: 0;
	background: none;
	/** belows styles are working good */
	padding: 2px 5px;
	margin-top: -4px;
	position: relative;
	left: -48px;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */
	margin-bottom: 0;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #acb3bb
}

.top_header .carousel-item img.sld_img {
	width: 100%;
	height: 100vh;
}

.main-nav.navbar-dark .navbar-nav .nav-link {
	color: #000;
	padding: 0;
	position: relative;
	opacity: 1;
	font-size: 15px;
}
.top_fix.main-nav.navbar-dark .navbar-nav .nav-link{
	color:#fff;
	
}
.top_fix .navbar-nav.ml-auto{
	margin-top: 0px;
}
.main-nav.navbar-dark .navbar-nav .nav-link:hover,.main-nav.navbar-dark .navbar-nav .nav-link:focus,.main-nav.navbar-dark .navbar-nav .nav-link:active{
	color:#fff;
}
.main-nav.navbar-dark .navbar-nav li.active .nav-link{
	color:#fff;
}
.main-nav li {
	position: relative;
	margin-left: 28px;
	margin-top: 15px
}

.main-nav li.active a:after {
	content: "";
	border-bottom: 2px solid #0b4782;
	width: 100%;
	display: block;
	bottom: -13px;
	position: absolute
}

.main-nav li.active a:before {
	content: "▼";
	bottom: -18px;
	color: #0b4782;
	text-align: center;
	left: 40%;
	position: absolute;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
}

.main-nav li.active a:hover:after {
	display: none
}

.cstm-nav.navbar {
	margin: 0
}

.main-nav li a:hover:before,
.main-nav li a:focus:before,
.main-nav li a:active:before {
	content: "▼";
	color: #0b4782;
	bottom: -18px;
	text-align: center;
	left: 40%;
	position: absolute;
	display: block;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
}

.main-nav li a:hover:after,
.main-nav li a:focus:after,
.main-nav li a:active:after {
	content: "";
	border-bottom: 2px solid #0b4782;
	width: 100%;
	display: block;
	bottom: -13px;
	position: absolute
}

.main-nav li a:hover,
.main-nav li a:focus,
.main-nav li a:active {
	color: #fff;
	background: none
}

.main-nav li.active a {
	color: #fff;
	background: none
}

.main-nav {
	margin-top: 0px;
	padding: 0
}

.mail li a {
	color: #fff
}

.mail li {
	color: #fff;
	margin: 0 2px
}

.mail li i {
	margin-right: 5px;
	font-size:20px;
}

.mail li.login {
	margin-right: 25px
}

.mail>li>a:hover i {
	border-radius: 0px;
	transform: rotate(-360deg);
	transition: .4s ease;
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	transition: .5s ease;
	-webkit-transition: .5s ease;
}

.mail li.login a i {
	border-radius: 2px;
	color: #7b8796;
	background: #fff;
	width: 20px;
	height: 20px;
	line-height: 18px;
	font-size: 17px
}

.mail li a .fa-facebook {
	background: #3B5998
}
.navbar-nav.ml-auto .visible-xs.nav-item .fa-facebook {
	background: #3B5998
}
.navbar-nav.ml-auto .visible-xs.nav-item i {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    line-height: 30px;
    border-radius: 50%;
    color:#fff;
    margin:0 4px;
}
.navbar-nav.ml-auto .visible-xs.nav-item a{
	color:#000;
	font-size:15px;
}
.navbar-nav.ml-auto .visible-xs.nav-item a:hover{
	color:#fff;
}
.navbar-nav .form-inline{margin:5px auto;}
.mail li a .fa-twitter {
	background: #39A0CE
}
.navbar-nav.ml-auto .visible-xs.nav-item .fa-twitter {
	background: #39A0CE
}


.mail li a .fa-instagram {
	background: -webkit-linear-gradient(271deg, rgb(72, 54, 218) 0%, rgb(153, 32, 145) 20%, rgb(228, 69, 66) 40%, rgb(244, 167, 61) 80%, rgb(247, 208, 105) 100%);
background: -o-linear-gradient(271deg, rgb(72, 54, 218) 0%, rgb(153, 32, 145) 20%, rgb(228, 69, 66) 40%, rgb(244, 167, 61) 80%, rgb(247, 208, 105) 100%);
background: -ms-linear-gradient(271deg, rgb(72, 54, 218) 0%, rgb(153, 32, 145) 20%, rgb(228, 69, 66) 40%, rgb(244, 167, 61) 80%, rgb(247, 208, 105) 100%);
background: -moz-linear-gradient(271deg, rgb(72, 54, 218) 0%, rgb(153, 32, 145) 20%, rgb(228, 69, 66) 40%, rgb(244, 167, 61) 80%, rgb(247, 208, 105) 100%);
background: linear-gradient(179deg, rgb(72, 54, 218) 0%, rgb(153, 32, 145) 20%, rgb(228, 69, 66) 40%, rgb(244, 167, 61) 80%, rgb(247, 208, 105) 100%);
}
.navbar-nav.ml-auto .visible-xs.nav-item .fa-instagram {
	background: -webkit-linear-gradient(271deg, rgb(72, 54, 218) 0%, rgb(153, 32, 145) 20%, rgb(228, 69, 66) 40%, rgb(244, 167, 61) 80%, rgb(247, 208, 105) 100%);
background: -o-linear-gradient(271deg, rgb(72, 54, 218) 0%, rgb(153, 32, 145) 20%, rgb(228, 69, 66) 40%, rgb(244, 167, 61) 80%, rgb(247, 208, 105) 100%);
background: -ms-linear-gradient(271deg, rgb(72, 54, 218) 0%, rgb(153, 32, 145) 20%, rgb(228, 69, 66) 40%, rgb(244, 167, 61) 80%, rgb(247, 208, 105) 100%);
background: -moz-linear-gradient(271deg, rgb(72, 54, 218) 0%, rgb(153, 32, 145) 20%, rgb(228, 69, 66) 40%, rgb(244, 167, 61) 80%, rgb(247, 208, 105) 100%);
background: linear-gradient(179deg, rgb(72, 54, 218) 0%, rgb(153, 32, 145) 20%, rgb(228, 69, 66) 40%, rgb(244, 167, 61) 80%, rgb(247, 208, 105) 100%);
}

.mail li a .fa-google-plus {
	background: #D21617
}
.navbar-nav.ml-auto .visible-xs.nav-item{
	list-style:inline-block;
}
.navbar-nav.ml-auto .visible-xs.nav-item ul{
	text-align:center;
	margin: 10px auto;
}
.navbar-nav.ml-auto .visible-xs.nav-item .fa-google-plus {
	background: #D21617
}
.mail>li>a i {
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	line-height: 30px;
	border-radius: 50%;
}

.contact_top {
	color: #fff
}

.contact_top i {
	color: #fff;
	margin-right: 5px;
	font-size: 18px
}

.top_fix {
	position: fixed;
	top: 0;
	z-index: 999;
	background: #000;
	width: 100%
}

.top_fix .main-nav li a {
	color: #fff
}

.top_fix .main-nav {
	margin-top: 25px
}

.top_fix .navbar-brand>img {
	display: block;
	width: 90px;
}

.top_fix .navbar-brand {
	padding: 5px
}

.navbar-nav.ml-auto {
	margin-top: 28px;
}

#return-to-top {
	background: rgba(9, 175, 223, 0.7);
	border-radius: 35px;
	bottom: 20px;
	display: none;
	height: 35px;
	position: fixed;
	right: 20px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: 35px;
}

#return-to-top i {
	color: #fff;
	font-size: 25px;
	margin: 0 auto;
	position: relative;
	right: auto;
	text-align: center;
	top: 5px;
	transition: all 0.3s ease 0s;
}

.top_fix.main-nav li a:hover:before,
.top_fix.main-nav li a:focus:before,
.top_fix.main-nav li a:active:before {
	display: none
}

.top_fix.main-nav li a:hover:after,
.top_fix.main-nav li a:focus:after,
.top_fix.main-nav li a:active:after {
	display: none
}

.top_fix.main-nav li.active a:before {
	display: none
}

.top_fix.main-nav li.active a:after {
	display: none
}

.top_fix .navbar-nav.mr-auto {
	margin: 0
}

.top_fix #custom-search-form {
	margin-top: 10px
}


/* ========================================
	=====carousel===
======================================= */

.top_header .carousel-caption {
	left: 10%;
	text-align: left;
	top: 40%
}

.top_header .carousel-indicators {
	bottom: 50px
}


.top_header .carousel-indicators li.active {
	background: #1976d2;
	border: 0;
	width: 12px;
	height: 12px;
	border: none;
	border-radius: 50%;
}

.top_header .carousel-indicators li {
	border: 2px solid #fff;
	width: 10px;
	height: 10px;
	border: 2px solid #fff;
	border-radius: 50%;
	background: none;
	cursor: pointer
}

.top_header .carousel-caption h3 {
	color: #1976d2;
	margin: 20px 0;
	font-size: 30px;
	font-weight: bold
}

.get_strted {
	border: 0;
	color: #fff;
	background: #1976d2;
	border-radius: 5px;
	padding: 10px 30px;
	margin: 20px 0
}

.get_strted:hover {
	color: #1976d2;
	background: #fff;
	transition: .4s ease
}

.beleving_strip {
	background: #1976d2;
	padding: 22px 0;
	text-align: center;
	position: relative;
	z-index: 0;
}

.beleving_strip h5 {
	color: #fff;
	font-size: 16px;
	margin: 0;
	z-index: 99;
	position: relative
}

.beleving_strip:before {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	content: "";
	display: block;
	margin: 0 auto;
	position: absolute;
	top: -35px;
	z-index: 0;
	background: #1976d2;
	left: 49%;
	z-index: -1
}

.beleving_strip:after {
	background: url(../images/home.png);
	width: 42px;
	content: "";
	left: 50%;
	top: -25px;
	position: absolute;
	display: block;
	z-index: 999999;
	background-size: cover !important;
	height: 40px;
}

.beleving_strip h5:before {
	content: "";
	border-bottom: 2px solid #fff;
	width: 150px;
	display: block;
	text-align: center;
	position: absolute;
	left: 26%;
	top: 14px
}

.beleving_strip h5:after {
	content: "";
	border-bottom: 2px solid #fff;
	width: 150px;
	display: block;
	text-align: center;
	position: absolute;
	right: 26%;
	top: 14px
}

.left_rh {
	width: 20px;
	height: 20px;
	background: #fff;
	-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	display: inline-block;
	position: relative;
	left: -190px;
	top: 5px
}

.right_rh {
	width: 20px;
	height: 20px;
	background: #fff;
	-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	display: inline-block;
	position: relative;
	right: -190px;
	top: 5px
}


/* ========================================
	=====About===
======================================= */

.about {
	float: left;
	width: 100%;
	margin-top: -10px;
	border-radius: 6px;
	-webkit-box-shadow: 3px 1px 13px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 3px 1px 13px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 3px 1px 13px 0px rgba(0, 0, 0, 0.75);
	background: #fff;
	z-index: 999
}

.about img {
	border-radius: 6px 0 0 6px
}

.about_txt h2 {
	color: #1976d2;
	text-align: center;
}

.about_txt p {
	font-size: 16px;
	line-height: 25px;
}

.about_txt {
	background: #fff;
	float: left;
	width: 97%;
	padding: 150px 15px 0px 15px;
	border-radius: 0 6px 6px 0;
	z-index: 9;
	height: 526px;
}

.pad-0 {
	padding: 0
}


/* ========================================
	=====straight school static===
======================================= */

.static {
	float: left;
	width: 100%;
	min-height: 350px;
	background-size: cover !important;
	top: -55px;
	z-index: -1;
	padding: 60px 0;
	position: relative;
	background-repeat:repeat !important;
}

.static h3 {
	color: #fff;
	margin: 15px 0
}

.scool_aside h3 {
	text-transform: uppercase;
	text-align: center
}

.straights_list {
	padding: 0;
	margin: 20px 0 0;
	list-style: none
}

.straights_list li {
	margin: 20px 0;
	float: left;
	width: 100%
}

.straights_list li .img_class {
	width: 21%;
	float: left;
	margin-right: 4%
}

.wht {
	color: #fff;
	font-size: 16px;
	margin-top: 15px;
	display: inline-block
}

.blk {
	color: #000;
	font-size: 16px
}
textarea{
	resize:none;
}

/* ========================================
	=====Gallery===
======================================= */

.galry {
	float: left;
	width: 100%;
	margin: 30px 0 25px
}

.galry h2 {
	text-align: center;
	color: #1976d2;
	font-weight: bold;
	margin: 15px 0;
	font-size: 26px;
}

.gallry_img a:hover img {
	transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	transition: .8s ease;
	-webkit-transition: .8s ease;
	-moz-transition: .8s ease;
}

.gallry_img {
	list-style: none;
	padding: 0;
}

.gallry_img li {
	text-align: center;
	float: left;
	width: 25%;
	padding: 0 15px
}

.gallry_img li a {
	position: relative;
	text-align: center;
	display: block
}

.gallry_img img.gal-img {
	width: 100%
}

.gallry_img li .img_des {
	position: absolute;
	bottom: 0;
	height: 70%;
	width: 100%;
	display: block;
	padding-top: 110px
}
.figure{
	overflow:hidden;
}
.gallry_img li .img_des {
    position: absolute;
    bottom: 0;
    height: 70%;
    width: 100%;
    display: block;
    padding-top: 110px;
   
   -webkit-clip-path: polygon(0 28%, 100% 5%, 100% 100%, 0% 100%);
clip-path: polygon(0 28%, 100% 5%, 100% 100%, 0% 100%);
}
.left_caption{
	float:left;
	width:45%;
	padding:0 15px;
	background:rgba(0,0,0,.4);
}
.right_caption{
	float:right;
	width:45%;
	padding:20px 15px;
	background:rgba(0,0,0,.4);
     position: absolute;
     top:140px;
     right:0%;
     z-index:99;
     height:80vh;
     color:#fff;
     z-index:0;
	
	
}
.gallry_img li .img_des h4{
	font-size: 20px;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width:100%;
}
.gallry_img li .img_des h4:after{
	content:"";
	display: block;
	width:80px;
	margin:0 auto;
	border-bottom:2px solid #fff;
	padding-top:8px;
}
.gallry_img li:nth-child(1) .img_des {
	background: rgba(108,150,50,.7)
}

.gallry_img li:nth-child(2) .img_des {
	background: rgba(153,64,154,.7)
}

.gallry_img li:nth-child(3) .img_des {
   background: rgba(200,46,104,.7)
}

.gallry_img li:nth-child(4) .img_des {
	background: rgba(74,168,204,.7)
}

.gallry_img li a {
	color: #fff
}

.gallry_img li a:hover .img_des img {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	transition: .5s ease;
	border: 2px solid #fff;
	padding: 10px;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
}


/* ========================================
	=====Calling (contact form)===
======================================= */

.call_consult form {
	margin-top: 100px
}

.call_consult form .form-control {
	border: 1px solid #010101;
	color: #010101;
	min-height: 44px;
	margin: 10px 0
}

.call_consult form .form-control::placeholder {
	color: #010101
}

.consltion h2 {
	color: #1976d2;
	font-weight: bold;
	text-align: center;
	margin: 20px 0;
	font-size: 26px;
}

.submit {
	background: #1976d2;
	color: #fff;
	border-radius: 8px;
	border: 0;
	margin: 10px 0;
	padding: 8px 24px;
	font-size: 16px;
	cursor: pointer
}

.submit:hover {
	background: #000;
	color: #fff;
	transition: .5s ease;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
}


/* ========================================
	=====footer===
======================================= */

footer {
	float: left;
	width: 100%;
	background: #000;
	padding: 15px 0 0;
	z-index: -2;
	position: relative;
	height: 280px;
}

.in-footer {
	position: fixed;
	bottom: 0;
	z-index: -1;
	left: 0;
	right: 0;
}

footer h4 {
	color: #fff;
	margin: 10px 0;
	font-size: 20px
}

footer p {
	color: #fff;
	font-size: 14px
}

.links {
	padding: 0;
	list-style: none
}

.links li {
	color: #fff;
	font-size: 14px;
	margin: 4px 0
}

.links li a {
	color: #fff;
	font-size: 14px;
}

.links li a:hover {
	text-decoration: none;
	padding-left: 5px;
	transition: .1s ease;
	-webkit-transition: .1s ease;
	-moz-transition: .1s ease;
}

.links li a:hover:after {
	content: "";
	width: 18px;
	border-bottom: 1px solid #fff;
	display: block;
	position: absolute;
}

.links li i {
	margin-right: 6px
}

.btm_footer {
	padding: 18px 0;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background: #1e1e1e;
	margin: 0
}

.wrapper {
	float: left;
	width: 100%;
	position: relative;
	z-index: 2;
	background-color: #fff;
}

#transition-timer-carousel {
	margin-top: 30px;
}

#transition-timer-carousel .carousel-inner {
	width: 100%;
	min-height: 350px;
	overflow: hidden;
	float: left;
	background-size: 100% 100%!important;
	background:url(../images/fun_phn.png)no-repeat !important;
}

#transition-timer-carousel .carousel-item {
	width: 471px;
	position: absolute;
	left: 32px;
	padding: 10px;
	top: 21px;
	height: 300px;
	overflow: hidden;
}

section {
	float: left;
	width: 100%
}
.secimage{
	background:url(/theme/assets/images/bg.png)no-repeat !important;
}
.phn{
	background:url(/theme/assets/images/fun_phn.png)no-repeat !important;
}

.static .hidden-xs {
    display: block;
}
ol.announce,p.announce {
    padding-left: 30px !important;
}
.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    box-shadow: transparent !important;
}

li#logout {
    /* background: transparent; */
    margin-top: -9px;
    margin-bottom: -8px;
    margin-right: 0px;
    /* width: 143px; */
    padding-left: 28px;
    margin-left: 0px;
    /* color: #fff; */
    color: #fff;
    background-color: rgba(0,0,0,.4) !important;
    border-color: rgba(0,0,0,.4) !important;
}
.fusername {
    color: #fff;
    background-color: transparent !important;
    border-color: transparent !important;
    margin-top: 5px;
}