body{
    background:#f3f4f5;
}
.editor{
    margin-top: 20px !important;
    margin-bottom:10px !important;
}
.cal {
    margin-left: -40px !important;
    padding-bottom: 10px !important;
}
.cal-1{
    padding-bottom: 10px !important;
}
a#activesidetab{
    background-color: #36c6d3 !important;
    color: #fff !important;
}
.maintab{
    background-color: #333d48 !important;
}
#ninthclass{
    margin-right: 5px;
}
#sixthclass{
    margin-right: 30px;
}
#tenthclass{
    margin-right: 27px;
}
#thirdclass{
    margin-right: 32px;
}
#eleventhclass{
    margin-right: 13px;
}
.notavailable{
    color:red;
}
.block {
    display:block !important;
}
.section {
    float: left;
    width:70%;
}
.classes{
    width: 30%;
    margin: 0 !important;
    float: left;
}
.classes h4, .section h4 {
    margin-top: 0;
}
.charges{
    margin-right:0 !important;
}
.transportcharges {
    margin-left: 7px;
}
.transportcharges label {
    margin-left: 0px;
}
.charges label{
    padding-left:10px !important
}
.sectionmargintop{
    margin-bottom:2px;
}
.md-checkbox-inline-stream{
    margin:0;
}
.admscharges{
    margin-top:9px !important;
}
.admschargesnew{
    margin-top:0;
    margin-bottom:15px;
}
.margin-bottom{
    margin-bottom:10px !important;
}
/*.newsec{*/
/*    display: none;*/
/*}*/
.newsecstream{
    display: block
}
.profilesec{
    margin-top:20px !important;
}
.set-align p{
    text-align:right;
    padding:5px 0 0 0;
}
.dvPassport,.transcharge,.ocharge,.discountamounts,.newsec,.newstream{
    display: none;
}
.table-heading-width {
    display:block;
    width:200px !important;
}
.change-display-property {
    display:inline-block;
}
.change-display-property label {
    padding:0 5px !important;
}
.section .checkbox-custom {
    margin:0;
}
.maintain-height {
    overflow-y:scroll !important;
    max-height:300px;
}
.modal-header .close {
    padding-top:0;
}
.cal-set
{
    margin-left: -3em !important;
}
.input-group{
    width:100% !important;
}
.editdel{
    margin-right: 10px !important;
}
#classcheck{
    display: none;
}
#class-incharge-classes{
    margin-left:25px;
}
#class-incharge-classes>div{
    width:33%;
    float:left;
}
#class-incharge-classes+div, #classcheck+div{
    clear:both;
}
.streamcnew{
    width: 100% !important;
    background: #f3f4f5;
    display:none;
}
#streamchecknew{
    width: 100% !important;
    background: #f3f4f5;
}
#class-incharge-stream{
    margin-left:25px;
}
#class-incharge-stream>div{
    width:33%;
    float:left;
}
#class-incharge-stream+div{
    clear:both;
}

.certitable{
    display:content !important;
}
.table-responsive {
        display:table !important;
    }
.modal-center{
    height:auto !important;
}
#classchecknew{
    display: none;
}
#taskdone{
    color:red;
}
.md-editor{
    display:block !important;
}
.profile_pic img{
    border-radius: 4px !important;
}
.profile-content-data,.profile-content-data-new{
    color:#888;
}
.profilelabel label{
    font-weight:600 !important;
}
/*Sidebar text wraping starts here*/
.site-menu-title {
    white-space: pre-wrap !important;
    display: block;
}
/*Sidebar text wraping ends here*/

/*Profile page starts here*/
/*father*/
.edit-icon{
    float:right;
    display:none !important;
}
.edit-icon:hover{
    text-decoration:none;
    
}
.profile-content-data:hover .edit-icon {
    display:block !important;
}
.hide-father {
    display:none !important;
}
.check-icon{
    float:right;
    margin-top:-20px;
}
.newchangedata{
    float:right;
    margin-top:-20px;
    margin-right: 20px;
}
/*Mother*/
.edit-icon-mother{
    float:right;
    display:none !important;
}
.edit-icon-mother:hover{
    text-decoration:none;
    
}
.profile-content-data-mother:hover .edit-icon-mother {
    display:block !important;
}
.hide-mother {
    display:none !important;
}
.checkmother-icon{
    float:right;
    margin-top:-20px;
}
.newchangedatamother{
    float:right;
    margin-top:-20px;
    margin-right: 20px;
}
/*DOB*/
.edit-icon-dob{
    float:right;
    display:none !important;
}
.edit-icon-dob:hover{
    text-decoration:none;
    
}
.profile-content-data-dob:hover .edit-icon-dob {
    display:block !important;
}
.hide-dob {
    display:none !important;
}
.checkdob-icon{
    float:right;
    margin-top: 11px;
}
.newchangedatadob{
    float:right;
    margin-top:11px;
    margin-right: 7px;
}
/*Contact*/
.edit-icon-contact{
    float:right;
    display:none !important;
}
.edit-icon-contact:hover{
    text-decoration:none;
    
}
.profile-content-data-contact:hover .edit-icon-contact {
    display:block !important;
}
.hide-contact {
    display:none !important;
}
.checkcontact-icon{
    float:right;
    margin-top: -19px;
    margin-right: 0px;
}
.newchangedatacontact{
    float:right;
    margin-top:-20px;
    margin-right: 20px;
}
/*Religion*/
.edit-icon-religion{
    float:right;
    display:none !important;
}
.edit-icon-religion:hover{
    text-decoration:none;
    
}
.profile-content-data-religion:hover .edit-icon-religion {
    display:block !important;
}
.hide-religion {
    display:none !important;
}
.checkreligion-icon{
    float:right;
    margin-top: -19px;
    margin-right: 0px;
}
.newchangedatareligion{
    float:right;
    margin-top:-20px;
    margin-right: 20px;
}
/*Aadhar*/
.edit-icon-aadhar{
    float:right;
    display:none !important;
}
.edit-icon-aadhar:hover{
    text-decoration:none;
    
}
.profile-content-data-aadhar:hover .edit-icon-aadhar {
    display:block !important;
}
.hide-aadhar {
    display:none !important;
}
.checkaadhar-icon{
    float:right;
    margin-top: -19px;
    margin-right: 0px;
}
.newchangedataaadhar{
    float:right;
    margin-top:-20px;
    margin-right: 20px;
}
/*graduation college name*/
.edit-icon-gcn{
    float:right;
    display:none !important;
}
.edit-icon-gcn:hover{
    text-decoration:none;
    
}
.profile-content-data-gcn:hover .edit-icon-gcn {
    display:block !important;
}
.hide-gcn {
    display:none !important;
}
.checkgcn-icon{
    float:right;
    margin-top: -19px;
    margin-right: 0px;
}
.newchangedatagcn{
    float:right;
    margin-top:-20px;
    margin-right: 20px;
}
/*last job*/
.edit-icon-lastjob{
    float:right;
    display:none !important;
}
.edit-icon-lastjob:hover{
    text-decoration:none;
    
}
.profile-content-data-lastjob:hover .edit-icon-lastjob {
    display:block !important;
}
.hide-lastjob {
    display:none !important;
}
.checklastjob-icon{
    float:right;
    margin-top: -19px;
    margin-right: 0px;
}
.newchangedatalastjob{
    float:right;
    margin-top:-20px;
    margin-right: 20px;
}
/*last job designation*/
.edit-icon-lastjobdesignation{
    float:right;
    display:none !important;
}
.edit-icon-lastjobdesignation:hover{
    text-decoration:none;
    
}
.profile-content-data-lastjobdesignation:hover .edit-icon-lastjobdesignation {
    display:block !important;
}
.hide-lastjobdesignation {
    display:none !important;
}
.checklastjobdesignation-icon{
    float:right;
    margin-top: -19px;
    margin-right: 0px;
}
.newchangedatalastjobdesignation{
    float:right;
    margin-top:-20px;
    margin-right: 20px;
}
.studentattendencedata{
    /*display: none;*/
}
/*last school leave date*/
.edit-icon-lastschooling{
    float:right;
    display:none !important;
}
.edit-icon-lastschooling:hover{
    text-decoration:none;
    
}
.profile-content-data-lastschooling:hover .edit-icon-lastschooling {
    display:block !important;
}
.hide-lastschooling {
    display:none !important;
}
.checklastschooling-icon{
    float:right;
    margin-top: 10px;
    margin-right: 0px;
}
.newchangedatalastschooling{
    float:right;
    margin-top:10px;
    margin-right: 7px;
}
/*last salary*/
.edit-icon-salary{
    float:right;
    display:none !important;
}
.edit-icon-salary:hover{
    text-decoration:none;
    
}
.profile-content-data-salary:hover .edit-icon-salary {
    display:block !important;
}
.hide-salary {
    display:none !important;
}
.checksalary-icon{
    float:right;
    margin-top: -19px;
    margin-right: 0px;
}
.newchangedatasalary{
    float:right;
    margin-top:-20px;
    margin-right: 20px;
}
/*last increment date*/
.edit-icon-lastincrementdate{
    float:right;
    display:none !important;
}
.edit-icon-lastincrementdate:hover{
    text-decoration:none;
    
}
.profile-content-data-lastincrementdate:hover .edit-icon-lastincrementdate {
    display:block !important;
}
.hide-lastincrementdate {
    display:none !important;
}
.checklastincrementdate-icon{
    float:right;
    margin-top: 10px;
    margin-right: 0px;
}
.newchangedatalastincrementdate{
    float:right;
    margin-top:10px;
    margin-right: 7px;
}
/*last increment amount*/
.edit-icon-lastamount{
    float:right;
    display:none !important;
}
.edit-icon-lastamount:hover{
    text-decoration:none;
    
}
.profile-content-data-lastamount:hover .edit-icon-lastamount {
    display:block !important;
}
.hide-lastamount {
    display:none !important;
}
.checklastamount-icon{
    float:right;
    margin-top: -19px;
    margin-right: 0px;
}
.newchangedatalastamount{
    float:right;
    margin-top:-20px;
    margin-right: 20px;
}
/*facebook*/
.edit-icon-facebook{
    float:right;
    display:none !important;
}
.edit-icon-facebook:hover{
    text-decoration:none;
}
.profilefb:hover .edit-icon-facebook{
    display:block !important
} 
.profile-content-data-facebook:hover .edit-icon-facebook {
    display:block !important;
}
.hide-facebook {
    display:none !important;
}
.checkfacebook-icon{
    float:right;
    margin-top: -19px;
    margin-right: 0px;
}
.newchangedatafacebook{
    float:right;
    margin-top:-20px;
    margin-right: 20px;
}
/*instagram*/
.edit-icon-Instagram{
    float:right;
    display:none !important;
}
.edit-icon-Instagram:hover{
    text-decoration:none;
    
}
.profile-content-data-Instagram:hover .edit-icon-Instagram {
    display:block !important;
}
.profileinsta:hover .edit-icon-Instagram{
    display:block !important;
} 
.hide-Instagram {
    display:none !important;
}
.checkInstagram-icon{
    float:right;
    margin-top: -19px;
    margin-right: 0px;
}
.newchangedataInstagram{
    float:right;
    margin-top:-20px;
    margin-right: 20px;
}
/*twitter*/
.edit-icon-tweet{
    float:right;
    display:none !important;
}
.edit-icon-tweet:hover{
    text-decoration:none;
    
}
.profile-content-data-tweet:hover .edit-icon-tweet {
    display:block !important;
}
.profiletweet:hover .edit-icon-tweet{
    display:block !important;
} 
.hide-tweet {
    display:none !important;
}
.checktweet-icon{
    float:right;
    margin-top: -19px;
    margin-right: 0px;
}
.newchangedatatweet{
    float:right;
    margin-top:-20px;
    margin-right: 20px;
}
/*Change Name*/
.edit-icon-name{
    float:right;
    display:none !important;
}
.edit-icon-name:hover{
    text-decoration:none;
    
}
.profile-content-data-name:hover .edit-icon-name {
    display:block !important;
}
.hide-name {
    display:none !important;
}
.checkname-icon{
    float:right;
    margin-top: -19px;
    margin-right: 0px;
}
.newchangedataname{
    float:right;
    margin-top:-20px;
    margin-right: 20px;
}
/*Change Username*/
.edit-icon-username{
    float:right;
    display:none !important;
}
.edit-icon-username:hover{
    text-decoration:none;
    
}
.profile-content-data-username:hover .edit-icon-username {
    display:block !important;
}
.hide-username {
    display:none !important;
}
.checkusername-icon{
    float:right;
    margin-top: -19px;
    margin-right: 0px;
}
a.newchangeusername.newchangedatausername{
    margin-right: 18px;
}
/*Change Email*/
.edit-icon-email{
    float:right;
    display:none !important;
}
.edit-icon-email:hover{
    text-decoration:none;
    
}
.profile-content-data-email:hover .edit-icon-email {
    display:block !important;
}
.hide-email {
    display:none !important;
}
.checkemail-icon{
    float:right;
    margin-top: -19px;
    margin-right: 0px;
}
.newchangedataemail{
    float:right;
    margin-top:-20px;
    margin-right: 20px;
}
/*Change password*/
.edit-icon-password{
    float:right;
    display:none !important;
}
.edit-icon-password:hover{
    text-decoration:none;
    
}
.profile-content-data-password:hover .edit-icon-password {
    display:block !important;
}
.passwordlabel:hover .edit-icon-password{
    display:block !important;
}
.hide-password {
    display:none !important;
}
.checkpassword-icon{
    float:right;
    margin-top: -19px;
    margin-right: 0px;
}
.newchangedatapassword{
    float:right;
    margin-top:-20px;
    margin-right: 20px;
}
/*Change oldpassword*/
.edit-icon-oldpassword{
    float:right;
    display:none !important;
}
.edit-icon-oldpassword:hover{
    text-decoration:none;
}
.profile-content-data-oldpassword:hover .edit-icon-oldpassword {
    display:block !important;
}
.passwordlabel:hover .edit-icon-oldpassword{
    display:block !important;
}
.hide-oldpassword {
    display:none !important;
}
.checkoldpassword-icon{
    float:right;
    margin-top: -19px;
    margin-right: 0px;
}
.newchangedataoldpassword{
    float:right;
    margin-top:-20px;
    margin-right: 20px;
}

.checknewconfirmpassword-icon{
    float:right;
    margin-top: -19px;
    margin-right: 0px;
}
.newchangedatanewconfirmpassword{
    float:right;
    margin-top:-20px;
    margin-right: 20px;
}
.classsection{
    float:right;
    margin-top:-24px;
    margin-right: 24px;
}
.classsectionclose{
    float:right;
    margin-top:-24px;
    margin-right: 5px;
}
/*profile image*/
.userprofilepic img{
    width:30px !important;
    height:30px !important;
    border:0 none !important;
    border-radius:50% !important;
}
/*radio spacing*/
.spacingradio{
    padding-right:26px;
}
.attedenceradio label{
    position: relative;
    display: inline-block;
    padding-left: 6px !important;
    vertical-align: middle;
    padding-right: 10px !important;
}
#redabsent{
    color:#dc3545;
}
#yellowleave{
    color:#ffc107;
}
#greenpresent{
    color:#28a745;
}
.tset,.customsection {
    float: right !important;
}
img.imageThumb{
    margin-bottom: 10px;
    float: left;
    width: 200px;
    margin-top:6px;
}
.admission>.container-fluid>div+div {
    overflow-x: scroll !important;
}
/*Profile page ends here*/

.abc+span {
    margin-bottom:10px !important;
}
.select2-container{
    width: 100% !important;
}

/*Footer starts here*/
/*.footer-position{
    position: absolute;
    bottom: 0;
    width: 100%;
}*/
/*Footer ends here*/
/*Table Footer Starts here*/
.dataTables_info {
    position:static !important;
}
.tableoverflow{
    overflow-x:scroll;
}
/*Table Footer Ends here*/
/*New admission page starts here*/
.margin-bottom-new-admission{
    margin-bottom:100px;
}
.charges-position {
    margin:50px 0 0 -30px;
}
#subtotal{
    margin:50px 0 0 0;
}
#subtotal > label {
    color:green;
}
.required {
    color:red;
}
.new-addmission-form > .form-material{
    margin-bottom:50px;
}
.input-daterange-wrap{
    width:100% !important;
}
.btn-paid{
    margin: 22px 0 0 0;
    display: block !important;
    float: right !important;
    position: absolute;
    right: 0;
    bottom: -58px;
}
.hidden{
    display:none;
}
.help-block{
    color: red;
}
/*.cardtransparent{*/
/*    display: none !important;*/
/*}*/
.carddetailvalidate{
    width: 26px;
    float: right;
    margin-top: -23px;
}

/*New admission page ends here*/

/*Media queries starts here*/
@media screen and (max-width: 768px){
    .table-responsive {
        display:block !important;
    }
    /*.panel-body{
    overflow-x:scroll;
    }*/
}
@media screen and (max-width: 600px){
    #class-incharge-classes>div{
    width:50%;
    }
    div.dataTables_wrapper div.dataTables_length label, div.dataTables_wrapper div.dataTables_filter label{
        float:left;
    }
    /*.panel-body{
    overflow-x:scroll;
    }*/
}
@media screen and (max-width: 400px){
    #class-incharge-classes>div{
    width:100%;
    }
    /*.panel-body{
    overflow-x:scroll;
    }*/
}
@media screen and (max-width: 370px){
    .classes {
        width: 40%;
    }
    .section {
        width: 60%;
    }
    /*.panel-body{
    overflow-x:scroll;
    }*/
}
/*Media queries ends here*/