
.pagecrop {
	margin: 1em auto;
	max-width: 768px;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	height: 100%;
}

.boxcrop {
	padding: 0.5em;
	width: 100%;
	margin:0.5em;
}

.box-2 {
	padding: 0.5em;
	width: calc(100%/2 - 1em);
}

.options label,
.options input{
	width:10em;
	padding:0.5em 1em;
}
.options label{
	display: none !important;
}
.btn{
	background:white;
	color:black;
	border:1px solid black;
	padding: 0.5em 1em;
	text-decoration:none;
	margin:0.8em 0.3em;
	display:inline-block;
	cursor:pointer;
}

.hide {
	display: none;
}

img.cropped {
	max-width: 100%;
}
.admission div:nth-child(2) {
    /*overflow-x: scroll !important;
    background:yellow;*/
}

.form-control.mondata {
	width:100% !important;
}
/**new wizard form on fee status link css added here**/
/* @extend display-flex; */
display-flex, .select-icon, .select-icon i, .form-radio input + label figure, .form-flex, .steps ul, .actions ul li a, .form-row {
  display: flex;
  display: -webkit-flex; }

/* @extend list-type-ulli; */
list-type-ulli, .steps ul, .actions ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

 
fieldset {
  /*border: none;
  margin: 0px;
  padding: 0px;*/}

fieldset.current {
  /*padding-top: 85px;*/ }

.form-radio {
  margin-top: -25px;
  width: 100%; }
  .form-radio input {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px; }
  .form-radio input + label {
    margin: 0px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    text-align: center;
    transition: border-color .15s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
    border-radius: 5px;
    }
    .form-radio input + label figure {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    
      border: 2px solid #222;
      align-items: center;
     }
      .form-radio input + label figure img {
       /* -webkit-filter: invert(30%) grayscale(100%) brightness(70%) contrast(4);
        filter: invert(30%) grayscale(100%) brightness(70%) contrast(4);*/ }
    .form-radio input + label span {
      font-weight: bold; }
  .form-radio input:checked + label {
    z-index: 1; }
    .form-radio input:checked + label figure {
      border: 2px solid #1ed760; }
      .form-radio input:checked + label figure img {
        -webkit-filter: none;
        filter: none; }
    .form-radio input:checked + label span {
      color: #1ed760; }
  .form-radio input:focus + label {
    outline: none; }
  .form-radio input:hover {
    background-color: #1ed760;
    border-color: #1ed760; }

.form-flex {
}

.content {
   }
  .content h3 {
    display: none; }
h5
{
  color:#cccccc;
}
.steps ul {
  justify-content: space-between;
  width:100%;
  background: #f8f8f8;
  }
  .steps ul li {
    width: 150px; }
    .steps ul li a {
      text-decoration: none;
      display: block;
      background: #f8f8f8;
      text-align: center;
      padding: 8px 0; }
    .steps ul li:hover a {
      background: #3f51b5 ; }
      .steps ul li:hover a h5 {
        color: #fff; }
  .steps ul .current a {
    background: #3f51b5 ; }
    .steps ul .current a h5 {
      color: #fff; }
  .title {
    margin-top:11px !important;
  }
.actions {
  /*padding-right: 100px;
  padding-left: 81px;*/ }
  .actions ul {
    display: inline-block;
    width: 100%; }
    .actions ul .disabled {
      display: none; }
    .actions ul li:first-child {
      float: left; }
      .actions ul li:first-child a {
        background: transparent;
        color: #000;
        border: 1px solid #ebebeb; }
    .actions ul li:nth-child(2), .actions ul li:last-child {
      float: right; }
    .actions ul li a {
      width: 140px;
      height: 50px;
      color: #fff;
      background: #3f51b5 ;
      align-items: center;
      
      text-decoration: none;
      border-radius: 5px;
            justify-content: center;
 }


input.error {
  border: 1px solid #f63726;
  margin-bottom: 20px; }

label.error {
  font-size: 12px;
  color: #f63726;
  position: absolute;
  /*bottom: 17px;*/
  top:63px;
  left: 0; }

.label-radio {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-bottom: 70px; }

/*@media screen and (max-width: 992px) {
  .container {
    width: calc(100% - 40px);
    max-width: 100%; }

  .form-group-flex {
    width: 310px; } }
@media screen and (max-width: 768px) {
  .steps ul, .form-row {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column; }

  .steps ul li {
    width: 50%; }

  .content {
    /*height: 550px;*/
    /*height:auto;
    padding-right: 30px;
    padding-left: 30px; }

  .form-file {
    margin-bottom: 20px; }

  .form-flex {
    padding: 0 40px; }

  .form-input, .form-group-flex {
    width: 100%; } }
@media screen and (max-width: 480px) {
  .signup-form {
    padding-left: 30px;
    padding-right: 30px; } }

/*# sourceMappingURL=style.css.map */
/****/

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: auto;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
  margin: 0;
  padding-right: 10px;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}