<template>
<li class="nav-item dropdown" @click="markNotificationAsRead">
    <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Notifications"
      aria-expanded="false" data-animation="scale-up" role="button">
        <i class="icon md-notifications" aria-hidden="true"></i>
        <span class="badge badge-pill badge-danger up">{{unreadNotifications.length}}</span>
      </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
      <div class="dropdown-menu-header">
        <h5>NOTIFICATIONS</h5>
        <span class="badge badge-round badge-danger">New {{unreadNotifications.length}}</span>
      </div>

      <div class="list-group">
        <div data-role="container">
          <div data-role="content">
            <notification-item v-for="unread in unreadNotifications" :unread="unread" :key="unread.id"></notification-item>
            <!--@forelse(auth()->user()->unreadNotifications as $notification)
              @include('layouts.partials.notification.'.snake_case(class_basename($notification->type)))
              @empty
              <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
              <div class="media">
                <div class="pr-10">
                  <i class="icon md-receipt bg-red-600 white icon-circle" aria-hidden="true"></i>
                </div>
                <div class="media-body">
                  <h6 class="media-heading">No Notification</h6>
                </div>
              </div>
            </a>
            @endforelse-->
          </div>
        </div>
      </div>
      <div class="dropdown-menu-footer">
        <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
            <i class="icon md-settings" aria-hidden="true"></i>
          </a>
        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
            All notifications
          </a>
      </div>
    </div>
  </li>
  <!--<div class="toast-example" id="exampleToastrSuccess" aria-live="polite" data-plugin="toastr"-->
  <!--  data-message="&lt;strong&gt;Well done!&lt;/strong&gt; You successfully read this important alert message."-->
  <!--  data-container-id="toast-top-right" data-position-class="toast-top-right"-->
  <!--  data-icon-class="toast-just-text toast-success" role="alert">-->
  <!--  <div class="toast toast-just-text toast-success">-->
  <!--    <button type="button" class="toast-close-button" aria-label="Close">-->
  <!--      <span aria-hidden="true">×</span>-->
  <!--    </button>-->
  <!--    <div class="toast-message">-->
  <!--      <strong>Well done!</strong> You successfully read this important-->
  <!--      alert message.</div>-->
  <!--  </div>-->
  <!--</div>-->
</template>

<script>
    import NotificationItem from './NotificationItem.vue';
    export default {
        props:['unreads','userid'],
        components: {NotificationItem},
        data(){
            return {
                unreadNotifications: this.unreads
            }
        },
        
        methods: {
            markNotificationAsRead() {
                if (this.unreadNotifications.length) {
                    axios.get('/markAsRead');
                }
            }
        },
        
        mounted() {
            console.log('Component mounted.')
            Echo.private('App.User.' + this.userid)
            .notification((notification) => {
                console.log(notification);
                let newUnreadNotifications = {data: {thread: notification.thread, user: notification.user}};
                    this.unreadNotifications.push(newUnreadNotifications);
                
            });
    }
}
</script>
