<template>
    <a class="list-group-item dropdown-item"  role="menuitem" :href="threadUrl" >
    <div class="media">
        <div class="pr-10">
            <i class="icon md-receipt bg-red-600 white icon-circle" aria-hidden="true"></i>
        </div>
        <div class="media-body">
            <h6 class="media-heading">{{unread.data.user.name}} comment on {{unread.data.thread.amount}}</h6>
            <time class="media-meta" datetime="2017-06-12T20:50:48+08:00">5 hours ago</time>
        </div>
    </div>
</a>
    
           
</template>

<script>
    
    export default {
        props:['unread'],
        data(){
            return {
                threadUrl:""
            }
        },
        mounted(){
            this.threadUrl="thread/show/"+ this.unread.data.thread.id +"/" + this.unread.data.user.id
        }
        
    }
</script>
