textarea.form-control {
    height: auto;
    resize: none;
    min-height: 100px;
}
.modal-header {
    min-height: 16.43px;
    padding: 8px;
    border-bottom: 1px solid #e5e5e5;
    background: #444 !important;
    color: #fff !important;
}

h5#addModalLabel {
    margin-top: 5px;
    font-size: 18px;
    padding-left: 20px;
}
.close span {
    color: #fff !important;
}
div#addModal {
    padding-top: 15px !important;
}
.modal-header .close {
    margin-top: -26px !important;
    padding-right: 20px;
}
@media only screen and (max-width: 767px) {
.appWrapper.aside-fixed #sidebar {
    z-index: 0 !important;
}
}
.daterangepicker.dropdown-menu.ltr.show-calendar.opensright {
    top: 300px !important;
}
.editbox
{
display:none
}

.editbox
{
font-size:14px;
width:270px;
background-color:#ffffcc;
border:solid 1px #000;
padding:4px;
}
.edit_tr:hover
{
background:url(edit.png) right no-repeat #80C8E5;
cursor:pointer;
}
.chosen-container-single{
    width:100% !important;
}
td.status-color{
    color:red !important;
}
.editstatus:before {
    content: "Active";
    padding-left: 10px;
    background-color: #2FCCFF; color: #FFFFFF;
    border-radius: 30px 0 0 30px;
}

.editstatus:after {
    content: "Inactive" !important;
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
    border-radius: 0 30px 30px 0;
}
div.status{
    border-radius: 6px !important;
    border: none !important;
    -webkit-box-shadow: 0px 5px 6px -2px rgba(0,0,0,0.58);
-moz-box-shadow: 0px 5px 6px -2px rgba(0,0,0,0.58);
box-shadow: 0px 5px 6px -2px rgba(0,0,0,0.58);
}
button.statuson{
    border-radius: 6px !important;
    border: none !important;
}
button.statusoff{
    border-radius: 6px !important;
    margin-left: -8px !important;
    border: none !important;
}
div.school-filter-btn{
    margin-bottom: 5px;
}

#activeclass {
    margin-bottom: -15px !important;
}
.newstatus{
 color: #ddd !important;
}
/*Choosen*/
.chosen-container-multi{
    width:100% !important;
}
a#activesidetab{
    background-color: #16a085;
    color: white;
}
a#activesidetab:hover {
    text-decoration: none;
    background-color: #16a085 !important;
    color: white;
}
#navigation > li a:hover {
    background-color: #16a085 !important;
    color: white;
}
#navigation .dropdown > ul li:hover > a, #navigation .dropdown > ul li.active > a {
    /*color: #16a085;*/
    color: #ffffff !important;
}
input[type=checkbox], input[type=radio] {
    margin: 0px !important;
}
#wrapper
{
 /*text-align:center;*/
 /*margin:0 auto;*/
 /*padding:0px;*/
 /*width:995px;*/
}
#output_image
{
 max-width:300px;
 float: left !important;
}
.end {
    margin-left: 12%;
}
.input-group[class*=col-] {
    float: left !important;
    padding-left: 17px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
     padding-right: 13px !important;

}
input#txtfb,input#txttwitter,input#txtinsta,input#txtgp {
    margin-top: 15px !important;
}
input#txtmobileNumber{
    margin-bottom: -5px !important;
    margin-top: 14px !important;
}
input#txtemail{
    margin-bottom: -5px !important;
    margin-top: -6px;
}
#__lpform_fname{
    display:none !important;
}
